$white: #fff;
$black: #000;
$grey-100: #ccc;
$grey-200: #efefef;
$grey-220: #e9ecef;
$grey-300: #dedede;
$grey-800: rgba(241, 241, 241, 0);
$grey-900: #111;
$blue-100: #1cb5e0;
$blue-800: rgba(0, 8, 81, 0.8);
$blue-900: #050b45;
$red-500: #e50914;
$red-550: #ff0000;

$overlay: rgba(0, 0, 0, 0.5);
