@import '../../variables.scss';

.loader {
  width: 6rem;
  height: 6rem;
  border: 5px solid $white;
  border-bottom-color: $red-500;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    text-align: center;
    color: $white;
    padding: 20px;
    background-color: $overlay;
    border-radius: 10px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
